.recipe-card {
    min-width: 15rem;
    max-width: 25rem;
    cursor: pointer;
    flex-grow: 1;
    position: relative;
}

.recipe-card-image-container {
    height: 8.5rem;
    width: 100%;
}

.recipe-card-details-container {
    height: 4.25rem;
    margin: .5rem;
}

.recipe-card-type-chip-container {
    margin: .5rem;
}

.recipe-card-type-chip-container>.MuiChip-root {
    margin-right: .5rem;
}

.recipe-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.recipe-title {
    margin-bottom: .75rem;
    margin-top: .25rem;
    margin-left: .25rem;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%
}

.recipe-title-leftovers {
    color: gray;
}

.recipe-card-indicator {
    width: 100%;
    height: 0.5rem;
}

.recipe-card-dinner {
    background: var(--dinner-color);
}

.recipe-card-dinner-side {
    background: repeating-linear-gradient(45deg,
            var(--dinner-color),
            var(--dinner-color) 10px,
            var(--side-color) 10px,
            var(--side-color) 20px);
}

.recipe-card-lunch {
    background: var(--lunch-color);
}

.recipe-card-lunch-side {
    background: repeating-linear-gradient(45deg,
            var(--lunch-color),
            var(--lunch-color) 10px,
            var(--side-color) 10px,
            var(--side-color) 20px);
}

.recipe-card-breakfast {
    background: var(--breakfast-color);
}

.recipe-card-breakfast-side {
    background: repeating-linear-gradient(45deg,
            var(--breakfast-color),
            var(--breakfast-color) 10px,
            var(--side-color) 10px,
            var(--side-color) 20px);
}

.recipe-card-sweet-treat {
    background: var(--sweet-treat-color);
}

.recipe-card-snack {
    background: var(--snack-color);
}

.recipe-card-select-recipe-button {
    position: absolute;
    top: .25rem;
    right: .25rem;
}