.recipe-type-chip-selector-container {
    margin-right: .5rem;
    cursor: pointer;
}

.recipe-type-unselected {
    opacity: .50;
}

.recipe-type-chip-selector-clear-all {
    cursor: pointer;
}

.recipe-type-chip-selector-error {
    height: 100%;
    border-radius: 4px;
    border-color: rgb(211, 47, 47);
    border-style: solid;
}