.meal-plan-display-date-title {
    margin-left: 2rem;
    margin-bottom: 0;
}

.meal-plan-display-previous-date-title {
    color: gray;
}

.meal-plan-day-display-container {
    margin-bottom: 3rem;
}