.food-card {
    width: 20rem;
    height: 5rem;
    display: flex;
}

.food-card-image-container {
    float: left;
    width: 5rem;
}

.food-card-meal-indicator {
    width: .5rem;
    background: repeating-linear-gradient(45deg,
            lightgreen,
            lightgreen 10px,
            pink 10px,
            pink 20px);
}

.food-card-details-container {
    width: 13.5rem;
    margin: .5rem;
}

.food-image {
    height: 5rem;
    width: 5rem;
}

.food-title {
    margin-bottom: .75rem;
    margin-top: .25rem;
    margin-left: .25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%
}

.food-fact-container {
    color: gray;
    font-size: .75rem;
    padding-right: 1rem;
    align-items: center;
    display: inline-flex;
}