:root {
    --dinner-color: rgb(218, 231, 193);
    --lunch-color: #C4DFE5;
    --breakfast-color: rgb(252, 240, 182);
    --side-color: rgb(255, 215, 160);
    --sweet-treat-color: #FCDCE1;
    --snack-color: #DDD5F3;
    --fruit-color: #FFDAC7;
    --vegetable-color: #CEE5D0;

    --card-color: rgb(254, 250, 242);
    --card-color-hover: rgb(243, 238, 234);
    --paper-color: rgb(244, 240, 232);

    --button-positive-color: #24a1bd;
    --button-positive-hover-color: #1b7c91;
    --button-secondary-positive-color: rgb(147, 211, 29);
    --button-secondary-positive-hover-color: rgb(123, 163, 59);
    --button-negative-color: #f04a63;
    --button-negative-hover-color: #c0394a;
}

body {
    font-family: sans-serif, serif;
    background-color: var(--paper-color);
}

.max-page-content {
    max-width: 90rem;
    padding: 0 2.5rem;
    margin: 0 auto;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.navigation-warning-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.modal-navigation-warning-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
}