:root {
    --dinner-color: lightgreen;
    --lunch-color: lightblue;
    --breakfast-color: lightgoldenrodyellow;
    --side-color: pink;
    --sweet-treat-color: lightsalmon;
    --snack-color: lightcoral;
    --fruit-color: red;
    --vegetable-color: green;
}